{% extends "layout.html" %}

{% block style %}
<style>
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    color: #333;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #007bff;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



button {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

.right-pay {
    width: 40%;
    margin-left: auto;
}

.list-group-item {
    border: none;
    margin-bottom: 5px;
}

.card {
    margin-top: 20px;
}

.input-group {
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .section,
    .right-pay {
        width: 80%;
    }
}
h2 {
    margin-top: 10px;
    color: #007bff;
    font-size: 40px;
    font-weight: bold;
    background: linear-gradient(55deg, #1714c5, rgb(211, 211, 245));
    background-size: 40%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient 5s infinite ease-in-out;
}
@keyframes gradient {
    0%, 100% { /* เริ่มและสิ้นสุดที่จุดเดิม */
      background-position: 0% 50%;
    }
    50% { /* สามารถกำหนดการเคลื่อนไหวตรงกลางโดยใช้ 50% */
      background-position: 100% 50%;
    }
  }



</style>

{% endblock %}

{% block content %}


<div class="test">
    {% if type == 'hotel' %}
    <center><h2>รายละเอียดการจองโรงแรม</h2></center>
    <div class="section">
        
        <form action="/confirm" method="post"   >
            <input type="hidden" id="hotel_name" name="hotel_name" value="{{ hotel.get_name }}">
            <input type="hidden" id="room_type" name="room_type" value="{{ room.get_type_room }}">
            <input type="hidden" id="room_number" name="room_number" value="{{ room.get_room_number }}">
            <input type="hidden" id="head_count" name="head_count" value="{{ head_count}}">
            <input type="hidden" id="date_in" name="date_in" value="{{ date_in}}">
            <input type="hidden" id="date_out" name="date_out" value="{{ date_out}}">
            <input type="hidden" id="price" name="price" value="{{ price }}">
            <input type="hidden" id="type" name="type" value="hotel">


            <p>ชื่อโรงแรม: <b>{{ hotel.get_name }} Hotel</b></p>
            <p>ประเภทห้อง: <b>{{ room.get_type_room }}</b></p>
            <p>จำนวนคนที่เข้าพัก : <b>{{ head_count }}</b> คน</p>
            <P>วันเช็คอิน <b>{{ date_in }}</b></P>
            <p>วันเช็คเอ้าท์ <b>{{ date_out }}</b></p>
            <p>จำนวนวันที่พัก <b>{{ day }} วัน</b></p>
            <p>ราคาทั้งหมด: <b>{{ price }}</b> บาท</p>
            <center><button type="submit" class="btn btn-success">ยืนยันการจอง</button></center>
        

        </form>
        
    </div>
    {% endif %}
    {% if type == 'taxi' %}
    <center><h2>รายละเอียดการจองรถแท็กซี่</h2></center>
    <div class="section">
        
        
        <form action="/confirm" method="post" >
            <input type="hidden" id="taxi_name" name="taxi_name" value="{{ taxi.get_name }}">
            <input type="hidden" id="car_type" name="car_type" value="{{ car.get_car_type }}">
            <input type="hidden" id="car_phone" name="car_phone" value="{{ car.get_phone_number }}">
            <input type="hidden" id="head_count" name="head_count" value="{{ head_count }}">
            <input type="hidden" id="date" name="date" value="{{ date }}">
            <input type="hidden" id="travel_type" name="travel_type" value="{{ travel_type }}">
            <input type="hidden" id="source" name="source" value="{{ source }}">
            <input type="hidden" id="des" name="des" value="{{ des }}">
            <input type="hidden" id="price" name="price" value="{{ price }}">
            <input type="hidden" id="type" name="type" value="taxi">
            <p>ชื่อบริษัทแท็กซี่: <b>{{ taxi.get_name }} Hotel</b></p>
            <p>ประเภทรถ: <b>{{ car.get_car_type }}</b></p>
            <p>จำนวนคนโดยสาร : <b>{{ head_count }}</b> คน</p>
            <P>วันใช้บริการ <b>{{ date }}</b></P>
            <p>ประเภทการโดยสาร <b>{{ travel_type }}</b></p>
            <p>สถานที่ต้นทาง <b>{{ source }} </b></p>
            <p>สถานที่ปลายทาง <b>{{ des }} </b></p>
            <p>ราคาทั้งหมด: <b>{{ price }}</b> บาท</p>
            <center><button type="submit" class="btn btn-success">ยืนยันการจอง</button></center>
        

        </form>
        
    </div>
    {% endif %}
</div>


</div>

{% endblock %}
