{% extends "layout.html" %} {% block style %}
<style>
  .card-img-top {
    height: 200px;
    object-fit: cover;
  }
  .navbar {
    margin-bottom: 25px;
  }
  .card {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  .card-footer {
    margin-top: auto;
    border-top: none;
  }
  h1 {
    margin-bottom: 20px;
    display: inline-flex;
    font-family: "Impact", sans-serif; 
    background: url("https://images.unsplash.com/photo-1601529686322-350562cc5d67?q=80&w=2145&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    font-size: 8rem; 
    background-clip: text; 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: #5b728a54; 
    animation: move 10s linear infinite; 
    letter-spacing: .3rem;
    background-position: center 900px; 
  }
  @keyframes move {
    from { background-position: 80%; } 
    to { background-position: 100% 50%; }
    }
</style>

{% endblock %} {% block content %}
<center><h1>Hotel in {{ location }}</h1></center>
<center>
  <form action="{{ url_for('process_form_data') }}" method="post">
    <section class="py-4 text-Left container">
      <div class="btn-group">
        <input
          type="text"
          class="form-control"
          id="floatingInput"
          placeholder="สถานที่"
          name="Location"
        />
      </div>
      <div class="btn-group">
        <input
          type="number"
          class="form-control"
          id="floatingInput"
          placeholder="จำนวนคน"
          name="Adult"
        />
      </div>
      <div class="btn-group">
        <input type="date" id="start" name="date" min="date" max="2030-12-31" />
      </div>
      <button
        type="submit"
        class="btn btn-dark btn-md align-items-center justify-content-center"
      >
        Search
      </button>
    </section>
  </form>
</center>

<div class="container">
  <div class="row">
    {% for i in range(hotels|length) %}
    <div class="col-md-4 mb-3">
      <div class="card">
        <img
          class="card-img-top"
          src="{{ url_for('get_image',folder='hotel', image_name=images[i]) }}"
          style="width: 100%"
          alt="Card image cap"
        />
        <div class="card-body">
          <h4 class="card-title">{{ hotels[i].get_name }}</h4>
          <p class="card-text">
            โรงแรมนี้ตั้งอยู่ในจังหวัด <b>{{ hotels[i].get_location }}</b>
          </p>
        </div>
        <div class="card-footer">
          <a
            href="{{ url_for('hotel_page', hotel_name=hotels[i].get_name) }}"
            class="btn btn-dark"
            >View more</a
          >
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
    <center><h1 >{{ text }}</h1></center>
<script>
  // สร้างวัตถุ Date จากวันที่และเวลาปัจจุบัน
  var today = new Date();

  // ดึงข้อมูลวันที่ในรูปแบบ YYYY-MM-DD
  var dd = String(today.getDate()).padStart(2, "0");
  var mm = String(today.getMonth() + 1).padStart(2, "0"); //มกราคมคือเดือน 0
  var yyyy = today.getFullYear();

  today = yyyy + "-" + mm + "-" + dd;

  // กำหนดค่า value ของ input type="date" เป็นวันที่ปัจจุบัน
  document.getElementById("start").value = today;
</script>

{% endblock %}
