{% extends "layout.html" %}

{% block style %}
<style>
        .test {
            margin: 0; /* ลบ margin ทั้งหมด */
            display: flex;
            justify-content: space-between;
            padding: 20px;
        }

        /* กำหนดสไตล์สำหรับส่วนที่หนึ่ง */
        .left-section {
            width: 69%; /* ให้มีขนาดเล็กน้อยเพื่อให้มีระยะห่าง */
            border: 1px solid #000; /* เพิ่มขอบแสดงผล 1px สีดำ */
            padding: 10px; /* เพิ่ม padding 10px */
            height: 100%;
        }

        /* กำหนดสไตล์สำหรับส่วนที่สอง */
        .right-section {
            width: 30%; /* ให้มีขนาดเล็กน้อยเพื่อให้มีระยะห่าง */
            border: 1px solid #000; /* เพิ่มขอบแสดงผล 1px สีดำ */
            padding: 10px; /* เพิ่ม padding 10px */
            height: 100%;
        }

</style>


{% endblock %}

{% block content %} 

<!-- <center><h1>โรงแรมที่คุณเลือก {{hotel.get_name}} Hotel</h1></center>
<center><p style="font-size: 30px; ">ห้องประเภท {{ room.get_type_room }}</p></center> -->
<div class="test">
<div class="left-section">
 <p> Hotel name : <b>{{ hotel.get_name}}</b> Hotel</p>
 <p> Type room  : <b>{{ room.get_type_room }}</b> Room</p>
 <p> Head count :  <b> {{ room.get_head_count }} </b>People </p>
 <p> Price      : <b>{{ room.get_price }}</b> Baht</p>
</div>

<!-- ส่วนที่สอง -->
<div class="right-section">
    <h2>Right Section</h2>
    <p>This is the content of the right section.</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. .</p>
</div>
</div>
{% endblock %}