{% extends "layout.html" %} {% block style %}
<style>

  .account-settings .user-profile {
    margin: 0 0 1rem 0;
    padding-bottom: 1rem;
    text-align: center;
  }
  .account-settings .user-profile .user-avatar {
    margin: 0 0 1rem 0;
  }
  .account-settings .user-profile .user-avatar img {
    width: 90px;
    height: 90px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
  }
  .account-settings .user-profile h5.user-name {
    margin: 0 0 0.5rem 0;
  }
  .account-settings .user-profile h6.user-email {
    margin: 0;
    font-size: 0.8rem;
    font-weight: 400;
    color: #9fa8b9;
  }
  .account-settings .about {
    margin: 2rem 0 0 0;
    text-align: center;
  }
  .account-settings .about h5 {
    margin: 0 0 15px 0;
    color: #007ae1;
  }
  .account-settings .about p {
    font-size: 0.825rem;
  }
  .form-control {
    border: 1px solid #cfd1d8;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-size: 0.825rem;
    background: #ffffff;
    color: #2e323c;
  }

  .card {
    background: #ffffff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 0;
    margin-bottom: 1rem;
  }
  .table td,
  .table th {
    white-space: nowrap; /* ไม่ให้ข้อความขึ้นบรรทัดใหม่ */
  }

  .table td {
    max-width: 300px; /* กำหนดความกว้างสูงสุดของเซลล์ */
    overflow: hidden; /* ป้องกันข้อความที่ยาวเกินไปที่จะเกินขอบเซลล์ */
    text-overflow: ellipsis; /* การลดข้อความที่ยาวเกินไปให้เหลือเพียงส่วนที่แสดงและเครื่องหมาย ... ที่ส่วนที่ตัดออก */
  }
  .container {
    text-align: center; /* จัดตำแหน่งข้อความใน container เป็นกลาง */
  }

  .table {
    margin: 0 auto; /* กำหนดระยะห่างขอบของตาราง ด้านบนและด้านล่างเป็น 0 ด้านซ้ายและด้านขวาเป็น auto (กำหนดให้ตารางอยู่กึ่งกลางตามแนวนอน) */
  }
</style>

{% endblock %} 
{% block content %}
<!-- Body -->
<div class="container">
  <div class="row gutters">
    <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
      <div class="card h-100">
        <div class="card-body">
          <div class="account-settings">
            <div class="user-profile">
              <div class="user-avatar">
                <img
                  src="https://bootdey.com/img/Content/avatar/avatar7.png"
                  alt="Maxwell Admin"
                />
              </div>
              <h5 class="user-name"> {{ session['username'] }} </h5>
              <h6 class="user-email">{{ account.get_mail }}</h6>
            </div>
            <div class="about">
              <h5>About</h5>
              <p>
                I'm Yuki. Full Stack Designer I enjoy creating user-centric,
                delightful and human experiences.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
      <div class="card h-100">
        <div class="card-body">
          <div class="row gutters">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
              <h6 class="mb-2 text-primary">Personal Details</h6>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="form-group">
                <label for="fullName">Full Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="fullName"
                  placeholder="Enter full name"
                />
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="form-group">
                <label for="eMail">Email</label>
                <input
                  type="email"
                  class="form-control"
                  id="eMail"
                  placeholder="Enter email ID"
                />
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="form-group">
                <label for="phone">Phone</label>
                <input
                  type="text"
                  class="form-control"
                  id="phone"
                  placeholder="Enter phone number"
                />
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="form-group">
                <label for="website">Website URL</label>
                <input
                  type="url"
                  class="form-control"
                  id="website"
                  placeholder="Website url"
                />
              </div>
            </div>
          </div>
          <div class="row gutters">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
              <h6 class="mt-3 mb-2 text-primary">Address</h6>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="form-group">
                <label for="Street">Street</label>
                <input
                  type="name"
                  class="form-control"
                  id="Street"
                  placeholder="Enter Street"
                />
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="form-group">
                <label for="ciTy">City</label>
                <input
                  type="name"
                  class="form-control"
                  id="ciTy"
                  placeholder="Enter City"
                />
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="form-group">
                <label for="sTate">State</label>
                <input
                  type="text"
                  class="form-control"
                  id="sTate"
                  placeholder="Enter State"
                />
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="form-group">
                <label for="zIp">Zip Code</label>
                <input
                  type="text"
                  class="form-control"
                  id="zIp"
                  placeholder="Zip Code"
                />
              </div>
            </div>
          </div>
          <div class="row gutters">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
              <div class="text-right">
                <button
                  type="button"
                  id="submit"
                  name="submit"
                  class="btn btn-secondary"
                >
                  Cancel
                </button>
                <button
                  type="button"
                  id="submit"
                  name="submit"
                  class="btn btn-primary"
                >
                  Update
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% if session['username'] == 'admin' %}
<div class="container">
  <center><p><h1>ประวัติการทำรายการโรงแรมของลูกค้า</h1></p></center> 
  <table class="table table-striped">
      <thead>
          <tr>
              <th>เลขรายการ</th>
              <th>ประเภทรายการ</th>
              <th>ชื่อโรงแรม</th>
              <th>ประเภทห้อง</th>
              <th>วันเช็คอิน</th>
              <th>วันเช็คเอ้าท์</th>
              <th>ราคา</th>
              <th>จำนวนคน</th>
              <th>ชื่อ</th>
              <th>ดำเนินการ</th> <!-- เพิ่มหัวข้อใหม่ -->
          </tr>
      </thead>
      <tbody>
          {% for tran in transection %}
          {% if tran.get_type == 'Hotel' %}
          <tr>
              <td>{{ tran.get_id }}</td>
              <td>{{ tran.get_type }}</td>
              <td>{{ tran.get_hotel_name }}</td>
              <td>{{ tran.get_room }}</td>
              <td>{{ tran.get_date_in }}</td>
              <td>{{ tran.get_date_out }}</td>
              <td>{{ tran.get_price }}</td>
              <td>{{ tran.get_headcount }}</td>
              <td>{{ tran.get_name }}</td>
              <td><a class="btn btn-danger" href="#" role="button"> ลบ </a></td> 
          </tr>
          {% endif %}
          {% endfor %}
      </tbody>
  </table>
</div>
<div class="container mt-5 mb-5">
  <center><p><h1>ประวัติการทำรายการแท็กซี่ของลูกค้า</h1></p></center> 
  <table class="table table-striped">
      <thead>
          <tr>
              <th>เลขรายการ</th>
              <th>ประเภทรายการ</th>
              <th>ชื่อบริษัท</th>
              <th>ประเภทรถ</th>
              <th>วันใช้บริการ</th>
              <th>ประเภทการโดยสาร</th>
              <th>สถานที่ต้นทาง</th>
              <th>สถานที่ปลายทาง</th>
              <th>ราคา</th>
              <th>จำนวนคน</th>
              <th>ชื่อ</th>
              <th>ดำเนินการ</th> <!-- เพิ่มหัวข้อใหม่ -->
          </tr>
      </thead>
      <tbody>
          {% for tran in transection %}
          {% if tran.get_type == 'Taxi' %}
          <tr>
              <td>{{ tran.get_id }}</td>
              <td>{{ tran.get_type }}</td>
              <td>{{ tran.get_taxi_name }}</td>
              <td>{{ tran.get_taxi_type }}</td>
              <td>{{ tran.get_date }}</td>
              <td>{{ tran.get_travel_type }}</td>
              <td>{{ tran.get_pickup_location }}</td>
              <td>{{ tran.get__destination_location }}</td>
              <td>{{ tran.get_price }}</td>
              <td>{{ tran.get_headcount }}</td>
              <td>{{ tran.get_name }}</td>
              <td><a class="btn btn-danger" href="#" role="button"> ลบ </a></td> 
          </tr>
          {% endif %}
          {% endfor %}
      </tbody>
  </table>
</div>
{% endif %}
{% if session['username'] != 'admin' %}
<div class="container">
  <center><p><h1>ประวัติการทำรายการโรงแรม</h1></p></center> 
  <table class="table table-striped">
      <thead>
          <tr>
              <th>เลขรายการ</th>
              <th>ประเภทรายการ</th>
              <th>ชื่อโรงแรม</th>
              <th>ประเภทห้อง</th>
              <th>วันเช็คอิน</th>
              <th>วันเช็คเอ้าท์</th>
              <th>ราคา</th>
              <th>จำนวนคน</th>
              <th>ชื่อ</th>
              <th>ดำเนินการ</th> <!-- เพิ่มหัวข้อใหม่ -->
          </tr>
      </thead>
      <tbody>
          {% for tran in transection %}
          {% if tran.get_type == 'Hotel' %}
          <tr>
              <td>{{ tran.get_id }}</td>
              <td>{{ tran.get_type }}</td>
              <td>{{ tran.get_hotel_name }}</td>
              <td>{{ tran.get_room }}</td>
              <td>{{ tran.get_date_in }}</td>
              <td>{{ tran.get_date_out }}</td>
              <td>{{ tran.get_price }}</td>
              <td>{{ tran.get_headcount }}</td>
              <td>{{ tran.get_name }}</td>
              <td><a class="btn btn-danger" href="#" role="button"> ลบ </a></td> 
          </tr>
          {% endif %}
          {% endfor %}
      </tbody>
  </table>
</div>
<div class="container mt-5 mb-5">
  <center><p><h1>ประวัติการทำรายการแท็กซี่</h1></p></center> 
  <table class="table table-striped">
      <thead>
          <tr>
              <th>เลขรายการ</th>
              <th>ประเภทรายการ</th>
              <th>ชื่อบริษัท</th>
              <th>ประเภทรถ</th>
              <th>วันใช้บริการ</th>
              <th>ประเภทการโดยสาร</th>
              <th>สถานที่ต้นทาง</th>
              <th>สถานที่ปลายทาง</th>
              <th>ราคา</th>
              <th>จำนวนคน</th>
              <th>ชื่อ</th>
              <th>ดำเนินการ</th> <!-- เพิ่มหัวข้อใหม่ -->
          </tr>
      </thead>
      <tbody>
          {% for tran in transection %}
          {% if tran.get_type == 'Taxi' %}
          <tr>
              <td>{{ tran.get_id }}</td>
              <td>{{ tran.get_type }}</td>
              <td>{{ tran.get_taxi_name }}</td>
              <td>{{ tran.get_taxi_type }}</td>
              <td>{{ tran.get_date }}</td>
              <td>{{ tran.get_travel_type }}</td>
              <td>{{ tran.get_pickup_location }}</td>
              <td>{{ tran.get__destination_location }}</td>
              <td>{{ tran.get_price }}</td>
              <td>{{ tran.get_headcount }}</td>
              <td>{{ tran.get_name }}</td>
              <td><a class="btn btn-danger" href="#" role="button"> ลบ </a></td> 
          </tr>
          {% endif %}
          {% endfor %}
      </tbody>
  </table>
</div>
{% endif %}
{% endblock %}
