{% extends "layout.html" %}

{% block style %}
<style>
   
    body {
    background-color: hsl(0, 0%, 87%);
    background-attachment: fixed;
  }
    .jumbotron {
    background-size:cover;
    background-position: center;
    color: white;
    text-align: left;
    padding: 200px 0;
    background-image: url(https://images.unsplash.com/photo-1638085460989-f9f26db33840?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    opacity: 1;

  }
    .feature-icon {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        color: white;
        background-color: #0c0c0c;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
    }

    .text-bg-primary {
        background-color: #007bff;
        color: white;
    }

    .bg-gradient {
        background: linear-gradient(45deg, #007bff, #00bfff);
    }

    .text-body-emphasis {
        color: black;
        font-family: sans;
        margin-bottom: 20;
    }
    .container-fluid {
    max-height: 200px;
    }

    .container {
    margin-left: 50px; /* ขยับกล่องข้อความไปทางซ้าย 50px */
    }

    .details {
    text-align: center;
    transform: translate(150px, 0px); /* ขยับตำแหน่งข้อความไปทางขวา 150px */
    }
    .container-fluid .container {
        flex-grow: 1;
    }
    .pading1{
        padding: 2.5cm 2cm;

    }
    .pading2{
        padding: 4cm 3cm;
    }
    .h3 {
        font-size: 72px;
        font-weight: bold;
        background: linear-gradient( 55deg, #ffffff, rgb(0, 0, 0));
        background-size: 40%;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            animation: gradient 5s infinite ease-in-out;     
  }

    form {
  max-width: 400px;
  margin: 0 auto;
}

  @keyframes gradient {
    0%, 100% { /* เริ่มและสิ้นสุดที่จุดเดิม */
      background-position: 0% 50%;
    }
    50% { /* สามารถกำหนดการเคลื่อนไหวตรงกลางโดยใช้ 50% */
      background-position: 100% 50%;
    }
  }
  .indent1 {
    text-indent: 50px;
  }

.textup {
  text-align: center;
  font-weight: 700;
}

i {
  margin-right: 3px;
}

.form-box {
    background-color: transparent; 
    box-shadow: 0 0 20px rgba(7, 7, 7, 0.8);
    padding: 15px;
    border-radius: 8px;
    width: 500px;
    border: 1px solid #000000; /* เพิ่มเส้นขอบสีเทา */

    
}

label {
  display: block;
  margin-bottom: 8px;
  font-size: 17px;
  font-weight: 600;
}

input,
textarea {
  width: 100%;
  padding: 5px;
  margin-bottom: 12px;
  box-sizing: border-box;
  border-radius: 10px;
}

button {
  background-color: grey;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  width: 100%;
  font-size: 15px;
  transition: .2s linear;
}

button:hover {
  background-color: green;
  border: none;
  transform: translateY(-10px);
}

h1 {
  font-size: 72px;
  font-weight: bold;
  background: linear-gradient( 45deg, #fa5a4b, #ffe695, #8dfce6, #99f0fd, #444c5f);
  background-size: 40%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  animation: gradient 5s infinite;
}

h4 {
    font-size: 40px;
    font-weight: bold;
    background: linear-gradient(55deg, #000000, rgb(108, 106, 106));
    background-size: 40%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient 5s infinite ease-in-out;
    /* transform: translate(150px, -10px); ขยับตำแหน่งข้อความไปทางขวา 10px และลงไปทางล่าง 20px */
}


h2 {
    font-size: 40px;
    font-weight: bold;
    background: linear-gradient( 55deg, #000000, rgb(108, 106, 106));
    background-size: 40%;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    animation: gradient 5s infinite ease-in-out;
}

</style>
{% endblock %}

{% block content %}
<!-- Photo & Contact with us -->
<div class="jumbotron">
    <h3 class="display-3 indent1 h3">Contact With Us</h1>
  </div>

<!--Feedback -->
<div class="container">
  <div class="content" style="display: flex; justify-content: space-between; align-items: right;">
      <div>
          <h4><center>Feedback</center></h4>
          <div class="form-box">
              <div class="textup">
                  <i class="bi bi-clock"></i> It only takes two minutes!!
              </div>
              <form>
                  <label for="uname">
                      <i class="bi bi-person"></i> Name
                  </label>
                  <input type="text" id="uname" name="uname" required>

                  <label for="email">
                      <i class="bi bi-envelope"></i> Email Address
                  </label>
                  <input type="email" id="email" name="email" required>

                  <label for="phone">
                      <i class="bi bi-phone"></i> Phone Number
                  </label>
                  <input type="tel" id="phone" name="phone" required>

                  <label for="msg">
                      <i class="bi bi-chat-left"></i> Write your Feedback:
                  </label>
                  <textarea id="msg" name="msg" rows="4" cols="10" required></textarea>

                  <button type="submit" href="{{ url_for('register') }}">Submit</button>
              </form>
          </div>
      </div>
      <!-- Contact With us -->
      <div class="details" style="display: flex; justify-content: flex-end;">
    <div class="detail">
        <h2 class="fs-3 text-body-emphasis"><center>Contact With Us</center></h2>
        <p>Our website's help center is happy to serve everyone who comes to use our services and improve and improve them. If you have any knowledge, please let us know. We will fix the problem as quickly as possible.</p>
        <img src="https://images.unsplash.com/photo-1579578387690-8a374881bb58?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" width="1000" height="400">
    </div>
</div>

  </div>
</div>

{% endblock %}
