{% extends "layout.html" %}

{% block style %}
<style>
    .card-img-top {
        height: 200px;
        object-fit: cover;
    }
    .card {
        height: 100%; 
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 20px;
    }
    .card-footer {
        margin-top: auto; 
        border-top: none; 
    }
    h1 {
    margin-bottom: 20px;
    display: inline-flex;
    font-family: "Impact", sans-serif; 
    background: url("https://images.unsplash.com/photo-1558470598-a5dda9640f68?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    font-size: 8rem; 
    background-clip: text; 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: #5b728a54; 
    animation: move 30s linear infinite; 
    letter-spacing: .3rem;

  }
  @keyframes move {
    from { background-position: center left ; } 
    to { background-position: center right ; }
    }
    .navbar {
        margin-bottom: 25px;
      }
</style>
{% endblock %}


{% block content %} 
<center><h1>Taxi in Thailand</h1></center>
<div class="container">
    <div class="row">
        {% for i in range(taxis|length) %}
        <div class="col-md-4 mb-3"> 
            <div class="card ">
                <img class="card-img-top" src="{{ url_for('get_image',folder='taxi', image_name=images[i]) }}" style="width:100%" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">{{ taxis[i].get_name }}</h4>
                    <p class="card-text">This taxi company is by  <b> {{ taxis[i].get_name }} </b>.</p>
                </div>
                <div class="card-footer">
                    <a href="{{ url_for('taxi_page', taxi_name=taxis[i].get_name) }}" class="btn btn-dark">View more</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}